<form method="POST" action="{% url 'multi_step_form' %}">
    {% csrf_token %}
    <label for="{{ form.email.id_for_label }}">Email:</label>
    {{ form.email }}
    <button type="submit" name="previous_step">Previous</button>
    <button type="submit" name="submit">Submit</button>
  </form>
  













{% comment %} {% extends '../partials/base.html' %}


{% block content %}


<form method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form }}
    <input type="submit" name="submit" value="Previous">
    <input type="submit" name="submit" value="Submit">
</form>


{% endblock content %} {% endcomment %}