<form method="POST" action="{% url 'multi_step_form' %}">
    {% csrf_token %}
    <label for="{{ form.balance.id_for_label }}">Balance:</label>
    {{ form.balance }}
    <button type="submit" name="previous_step">Previous</button>
    <button type="submit" name="next_step">Next</button>
  </form>
  

















{% comment %} {% extends '../partials/base.html' %}



{% block content %}

<form method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form }}
    <input type="submit" name="submit" value="Previous">
    <input type="submit" name="submit" value="Next">
</form>


{% endblock content %} {% endcomment %}